@tailwind base;
@tailwind components;
@tailwind utilities;

*::selection {
  background: white;
  color: #95c11e;
}

body::-webkit-scrollbar {
  background-color: black;
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: #95c11e;
  border-radius: 50px;
}

.scroller-in {
  
  animation-name: animate;
  animation-duration: 40s;

  /* background-color: transparent; */

  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* animation: animate; */
}

.scroller-in h4 {
  display: inline-block;
  font-size: 120px;
  font-weight: 900;
  font-family: gilroy;
  margin-right: 20px;
  transition: all linear 0.3s;
  color:black;
  -webkit-text-stroke: 2px #95c11e;
}

.scroller-in h4:hover{
  color:#95c11e;
  -webkit-text-stroke: 2px white;
}



#overlappingText {
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: white;
}

@keyframes animate {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* #cursor {
  z-index: 9999;
  pointer-events: all;
}  */
